[Unit]
Description=Check battery level every 5 minutes

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=battery-warning.service

[Install]
WantedBy=timers.target
